[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=false
Name=ArchLinux Hello
Exec=/usr/bin/archlinux-hello
Icon=arch-logo
Comment=A tool providing access to documentation and support for new Arch Linux users.
Comment[da]=En app med adgang til dokumentation og support for nye Arch Linux brugere.
Comment[de]=Ein Tool für schnellen Zugriff auf Support und Dokumentation für neue Arch Linux Nutzer.
Comment[es]=Una herramienta que provee acceso a la documentación y soporte para nuevos usuarios de Arch Linux.
Comment[fr]=Outil d'accès à la documentation et support aux nouveaux utilisateurs d'Arch Linux.
Comment[nl]=Een manier voor nieuwe Arch Linux gebruikers om toegang tot documentatie en support te krijgen.
Comment[pl]=Narzędzie ułatwiające dostęp do dokumentacji i pomocy przeznaczone dla nowych użytkowników Arch Linux.
Comment[pt_BR]=Uma ferramenta que fornece acesso à documentação e suporte para novos usuários Arch Linux.
Comment[pt_PT]=Uma ferramenta que fornece acesso à documentação e suporte para novos usuários Arch Linux.
Comment[ru]=Средство доступа к документации и поддержке для новых пользователей Arch Linux.
Comment[it]=Strumento per accedere alla documentazione e supporto per nuovi utenti Arch Linux.
Comment[tr]=Yeni Arch Linux kullanıcıları için dökümantasyon ve destek sağlayan bir araç.
